/* body{
    display: flex;
} */
.items-button{
    position: relative;
    display: block;
    background-color: purple;
    color: white;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
    width: 75%;


}
.id-column{
    width: 8%;
    display: inline-block;
}
.item-column{
    width: 25%;
    display: inline-block;
}
.item-list{
    display: flex;
    justify-content: center;
}
body{
    font-family: 'Noto Sans SC', sans-serif;
    background-color: lightgray;
    /* position: relative; */
    /* display: flex;
    justify-content: center; */
}
.add-button{
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    
}
input{
    width: 75%;
    padding: 8px;
}


    /* display: flex;
    flex-direction: column;
    width: 50vw;
    z-index: 10;
    align-items: center;
} */
/* Form */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 99;    
}
.on-form{
    opacity: 0.2;
}
.form-input{
    margin: 5px;
    border-radius: 5px;
}